    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Compras</title>
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        <div class="container">
            <h1>Lista de Compras</h1>
            <button onclick="window.location.href='/waiting_list'">Nova lista</button>
        </div>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
    </html>


